.auth {
    width: 60%;
    margin: 10rem auto;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.08);
    display: flex;
    height: 80vh;
    background-color: white;
}
.auth__left_content {
    flex-basis: 50%;
    background:linear-gradient(rgba(77, 5, 232, 0.39)),url(../assets/doctor.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.auth__right_content {
    flex-basis: 50%;
    padding-left: 5rem;
    margin-top: 10rem;
}
.auth__text--main {
    color: #616161;
    font-size: 2.5rem;
    font-weight: 600;
}
.auth__text--small {
    color: #9e9e9e;
    font-size: 1.5rem;
}
.text-white {
    color: white;
}
.input {
    width: 60%;
    margin-bottom: 2rem;
    box-shadow: none;
    border: none;
    border: 1px solid #e0e0e0;
}
.btn-fill {
    display: block;
    width: 72%;
    padding: 1.2rem 3rem;
    background-color: #1e88e5;
    color: white;
    border-radius: 3px;
    font-size: 1.4rem;
}